/* Style Sheet for portfolio website */

* { /*Helps with math of margin and padding*/
    box-sizing: border-box;
}

html {
    font-family: arvo, serif;
    height: 100%
}

body {
    background-image: url(content/images/web-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

img.Logo { /* Logo centering */
    width: 70%;
    height: 70%;
    display: block;
    margin: 1rem auto;
}

img.self {
    width: 50%;
    padding: .5rem .25rem;
    float: right;
    display: block;
    margin: 1rem auto;
}

/* Creates horizontal menu bar for social and nav */
div.Menu {
    background-color: #ffffff;
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    width: 100%;
}

li {
    display: inline-block;
    text-align: center;
}

li a {
    display: block;
    color: #000000;
    margin: .5rem 2rem;
    padding: 0;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
    color: #ffffff
}

/*covers the short bio*/
p {
    margin: 1rem .5rem;
    padding: 0 .5rem;
    background-color: #ffffff;
}

/*Art Content*/
div.Art_Content {
    clear: both;
    background-color: #ffffff;
    margin: .5rem .5rem;
}

/*Social menu bar placement*/
footer {
    position: absolute;
    margin: 1rem 0 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

li a.social { /*social media icons*/
    display: block;
    color: #000000;
    margin: .5rem 3rem;
    text-decoration: none;
}