/* Style Sheet for portfolio website */

* { /*Helps with math of margin and padding*/
    box-sizing: border-box;
}

@font-face { /*Fonts*/
    font-family: 'Arvo';
    src: url('fonts/Arvo.woff') format('woff');
}

html {
    font-family: Arvo, serif;
    height: 100%;
    font-size: 100%;
}

body {
    background-image: url(content/images/web-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    max-width: 28rem;
    margin: auto;
}

img.Logo { /* Logo centering */
    width: 70%;
    height: 70%;
    display: block;
    margin: 1rem auto;
}

img.self { /*doodle of myself*/
    border-style: dashed;
    border-width: .2rem;
    border-left-width: .625rem;
    border-right-width: .625rem;
    border-color: black;
    background-color: #ffffff;
    width: 60%;
    text-align: center;
    display: block;
    margin: 1rem auto;
}

/* Creates horizontal menu bar for social and nav */
div.Menu {
    background-color: #ffffff;
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    width: 100%;
}

li {
    display: inline-block;
    text-align: center;
}

li:hover {
    background-color: #111111;
}

li a {
    display: block;
    color: #000000;
    margin: .75rem 6rem;
    padding: 0;
    text-decoration: none;
}

li a:hover {
    color: #ffffff;
}

/*covers the short bio*/
p {
    margin: 1rem .75rem;
    background-color: #ffffff;
}

.introduction {
    min-height: calc(100vh - 326px);
}

/*Art Content*/


/*Social menu bar placement*/
footer {
    clear: both;
    bottom: 0;
    width: 100%;
}

li a.social { /*social media icons*/
    display: block;
    color: #000000;
    margin: .5rem 2rem;
    text-decoration: none;
}